CREATE DATABASE DB_BARANG

USE DB_BARANG


CREATE TABLE BAHAN(
	ID_BAHAN VARCHAR(5) PRIMARY KEY,
	BAHAN VARCHAR(50),
	DESKRIPSI VARCHAR(50)
)

INSERT BAHAN VALUES 
('M001', 'KARET', NULL),
('M002', 'KARPET', '3 LAPIS'),
('M003', 'PLASTIK', NULL),
('M004', 'KULIT', 'IMITASI')

CREATE TABLE JENIS(
	ID_JENIS VARCHAR(5) PRIMARY KEY,
	JENIS VARCHAR(50)
)

INSERT JENIS VALUES 
('J001', 'SPAREPART'),
('J002', 'INTERIOR'),
('J003', 'EXTERIOR'),
('J004', 'ACESSORISE')

CREATE TABLE BARANG(
	ID_BARANG VARCHAR(5) PRIMARY KEY,
	NAMA VARCHAR(50),
	JENIS VARCHAR(50),
	ID_BAHAN VARCHAR(5) REFERENCES BAHAN(ID_BAHAN),
	ID_JENIS VARCHAR(5) REFERENCES JENIS(ID_JENIS),
	HARGA MONEY
)

DROP TABLE BARANG

INSERT BARANG VALUES 
('B001', 'AIR FILTER ASSY M/L 300 DIESEL', 'SPARE PART', NULL, NULL , 375000),
('B002', 'ALTERNATOR ASSY T/KIJANG SUPER', 'SPARE PART', NULL, NULL ,  750000),
('B003', 'BRAKE ADJUSTER T/INNOVA LEFT HAND', 'INTERIOR', NULL, NULL , 40000),
('B004', 'POWER STEERING HOSE D/ FEROSA', 'EXTERIOR', NULL, NULL , 425000)